{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}Nuevo Anuncio{% endblock %} 
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="col-md-4">
        <h1>Crear un anuncio</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                        <input type="text" class="form-control" name="ad_name" id="id_ad_name" placeholder="Titulo">
                        <textarea class="form-control" rows="2" name="ad_description" id="id_ad_description" placeholder="Descripcion del anuncio"></textarea>
                        <input type="number" class="form-control" name="price" id="id_price" placeholder="precio">
                    <button type="submit" class="btn btn-primary btn-block">Crear</button>
                </div>
            </form>
    </div>
{% endblock %}